@{
    ViewData["Title"] = "Historial empleado";
}

<div class="col-8">
    <table class="table table-striped">
        <thead>
            <th>ID registro</th>
            <th>ID Empleado</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.empleadoID</td>
                    <td>@item.horaIngreso</td>
                    <td>@item.horaSalida</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<a asp-controller="Empleado" asp-action="Index"> 
    <button class="btn btn-success" type="submit">volver</button>
</a>