@{
    ViewData["Title"] = "pagina Principal";
}

<div class="container text-center">
        
    <div class="col">
      <a class="btn btn-primary mt-5 btn-lg" asp-action="Register" asp-controller="Empleado">Registrar nuevo Empleado</a>
    </div>
    <div class="col">
       <a class="btn btn-primary mt-5 btn-lg" asp-action="" asp-controller="">registrar hora de ingreso</a>
    </div>
    <div class="col">
     <a class="btn btn-success mt-5 btn-lg" asp-action="" asp-controller="">registrar hora de salida</a>
    </div>
    <div class="col">
      <a class="btn btn-success mt-5 btn-lg" asp-action="" asp-controller="">Historial de entradas y salidas</a>
    </div>
     <div class="col">
      <a class="btn btn-success mt-5 btn-lg" asp-action="" asp-controller="">Eliminar Empleado</a>
    </div>
</div>
