


<div class="row">
                
    <h1>Registrar hora de ingreso</h1>
    <form >

        <div class="col">
            <input type="datetime-local" class="form-control"  />
            <button type="submit" class="btn btn-primary mt-5 btn-lg">Enviar hora de ingreso</button>
        </div>
    </form>
</div>
